@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Recline;
  src: url(/Recline.ttf);
}
* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.test {
  border: 1px solid red;
}

.themescroll::-webkit-scrollbar-thumb {
  @apply bg-theme;
  border-radius: 100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
